<!-- <ion-item *ngIf="image" [ngStyle]="{'position': 'relative', 'height': '100px', 'overflow': 'hidden'}">
  <img [ngSrc]="image.filepath" [alt]="image.filepath" fill />
</ion-item> -->

<!-- <img *ngIf="image" [ngSrc]="image.filepath" [placeholder]="placeholderUrl" width="100" height="100"
  [ngStyle]="{'object-fit': 'cover'}"> -->

<!-- <div [ngStyle]="{'position': 'relative', 'width': '100px', 'height': '100px', 'overflow': 'hidden'}"> -->

<div [ngStyle]="{'position': 'relative', 'width': '100px', 'height': '100px'}">


  <!-- <img *ngIf="image" [ngSrc]="image.filepath" [placeholder]="placeholderUrl" fill [ngStyle]="{'object-fit':
  'cover'}"> -->

  <img *ngIf="image" [ngSrc]="image.filepath" fill [ngStyle]="{'object-fit': 'contain', 'height': '100px'}"
    sizes="[16, 32, 48, 64, 96, 128, 256, 384, 640, 750, 828, 1080, 1200, 1920, 2048, 3840]" [placeholder]=placeholder
    loading="lazy" />
</div>